[submodule ".vim/pack/bundle/start/vim-grammarous"]
	path = .vim/pack/plugins/start/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/pack/plugins/start/conventional"]
	path = .vim/pack/plugins/start/conventional
	url = https://github.com/carhartl/conventional.vim
	branch = always-present-completion
