[user]
	# Intentionally omitting email, relying on `useConfigOnly = true`
	signingKey = SIGNING_KEY
[credential]
	# Not necessary when exclusively using git via ssh
	helper = osxkeychain
[gpg]
	program = /opt/homebrew/bin/gpg
[includeIf "gitdir:~/work/"]
	path = "~/.gitconfig-work"
