[user]
	name = NAME
	email = EMAIL
	signingKey = SIGNING_KEY
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[includeIf "gitdir:~/work/"]
	path = "~/.gitconfig-work"
