git/gitconfig.local.symlink

python/ipython.symlink/*
python/ipython.symlink/profile_default/*
python/ipython.symlink/profile_default/startup/*
!python/ipython.symlink/profile_default
!python/ipython.symlink/profile_default/ipython_config.py
!python/ipython.symlink/profile_default/startup
!python/ipython.symlink/profile_default/startup/*.py
!python/ipython.symlink/profile_default/startup/*.ipy
